#sidebar
  .sidebar-container(ng-controller='sidebarCtrl')
    .sidebar-top-search
      input(type='text', value='{{inputText}}', ng-model='researcherFilter', ng-change='getData()')
    ul
      li(ng-repeat='researcher in (filteredResearchers = (researchers | filter: researcherFilter))')
        span
          strong {{researcher.name.first}} {{researcher.name.last}}
          br
          | {{researcher.positions[0].title}} - {{researcher.positions[0].department}}
      br

