extends layout

//- block content

//-   div(ng-view)

  //- .map-container
  //-   #map

  //- .map-container(ng-controller='mapCtrl')
  //-   leaflet(id='map', center='center', tiles='tiles')
      
  //-   include ./partials/sidebar

